.Rhistory
.RData
.Rproj.user
attic/*
slides/*.html
slides/libs/*
slides/*_files/*
slides/render.R
.DS_Store
vst_individuals.csv
docs/*
**/R-CMD-check.yaml
.binder/install.R
_book/*
_bookdown_files/*

